
*.rtf

experiments/4-utterance-every/Submiterator-master/round1/utterance-every_invoice.csv

experiments/4-utterance-every/Submiterator-master/round1/utterance-every-mturk.csv

experiments/4-utterance-every/Submiterator-master/round1/utterance-every.csv
